{% extends 'base.html.twig' %}

{% block title %}Hello CustomerRegisterController!{% endblock %}

{% block body %}
<div class="row mt-8">
    <div class="row justify-content-center text-align-center">
        <div class="col-8">
            <h1 class="text-color-primary">Profil.</h1>
        </div>
    </div>

    <div class="col-6">
         <div class="row justify-content-center text-align-center">
            <div class="col-8">
                <h1 class="text-color-primary">Details.</h1> 

                
                <table class="table">
                    <tbody  class="text-color-primary text-bold">
                        <tr>
                            <td class="text-align-left">Name</td>
                            <td class="text-align-center">- -</td>
                            <td class="text-align-right">{{user.name}}</td>
                        </tr>
                        <tr>
                            <td class="text-align-left">First Name</td>
                            <td class="text-align-center">- -</td>
                            <td class="text-align-right">{{user.firstName}}</td>
                        </tr>
                        <tr>
                            <td class="text-align-left">Email</td>
                            <td class="text-align-center">- -</td>
                            <td class="text-align-right">{{user.email}}</td>
                        </tr>
                        <tr>
                            <td class="text-align-left">Phone number</td>
                            <td class="text-align-center">- -</td>
                            <td class="text-align-right">{{user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td class="text-align-left">Address</td>
                            <td class="text-align-center">- -</td>
                            <td class="text-align-right">{{user.postalAddress}} {{user.postalCode}} {{user.city}}</td>
                        </tr>
                        {% if user.idCardFront != null %}
                            <tr>
                                <td class="text-align-left">Identity card front side</td>
                                <td class="text-align-center">- -</td>
                                <td class="text-align-right">
                                    <a href="{{file_directory_twig}}document/idCardFront/{{user.idCardFront.name}}.{{user.idCardFront.ex}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                                    </svg>
                                    </a>

                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M0 0h24v24H0V0z" fill="none"/>
                                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                                    </svg>
                                </td>
                            </tr>
                        {% endif %}

                        {% if user.idCardBack != null %}
                            <tr>
                                <td class="text-align-left">Identity card back side</td>
                                <td class="text-align-center">- -</td>
                                <td class="text-align-right">
                                    <a href="{{file_directory_twig}}document/idCardBack/{{user.idCardBack.name}}.{{user.idCardBack.ex}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                                    </svg>
                                    </a>

                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M0 0h24v24H0V0z" fill="none"/>
                                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                                    </svg>
                                </td>
                            </tr>
                        {% endif %}

                        {% if user.proofOfAddress != null %}
                            <tr>
                                <td class="text-align-left">Proof of address</td>
                                <td class="text-align-center">- -</td>
                                <td class="text-align-right">
                                    <a href="{{file_directory_twig}}document/proofOfAddress/{{user.proofOfAddress.name}}.{{user.proofOfAddress.ex}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                                    </svg>
                                    </a>

                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M0 0h24v24H0V0z" fill="none"/>
                                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                                    </svg>
                                </td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
            
            </div>
        </div>
    </div>

    <div class="col-6">
         <div class="row justify-content-center text-align-center">
            <div class="col-8">
                <h1 class="text-color-primary">Missing documents.</h1> 

                {% if user.idCardFront != null and user.idCardBack != null and user.proofOfAddress != null %}
                <p class="text-color-primary mt-2 mb-2">Your register request is complete. Please wait until an advisor check your profil.</p>
                {% else %}
                <p class="text-color-primary mt-2 mb-2">To complete your register you must add those next documents</p>
                {% endif %}

               
                <table class="table">
                    <tbody  class="text-color-primary text-bold">
                        
                            {% if user.idCardFront == null %}
                                <tr>
                                    <td class="text-align-left">Identity card front side</td>
                                    {{ form_start(formIdCardFront) }}
                                        <td>{{form_widget(formIdCardFront.name, {'attr':{'class':'form-control  mb-2'}})}}</td>
                                        <td>{{form_widget(formIdCardFront.Submit, {'attr':{'class':'btn btn-secondary'}})}}</td>
                                        {{form_widget(formIdCardFront.type, {'attr':{'class':'form-control mb-2 hidden-form'}})}}
                                    {{form_end(formIdCardFront, {render_rest: true})}}
                                </tr>
                            {% endif %}
                        
                        
                            {% if user.idCardBack == null %}
                                <tr>
                                    <td class="text-align-left">Identity card back side</td>
                                    {{ form_start(formIdCardBack) }}
                                        <td>{{form_widget(formIdCardBack.name, {'attr':{'class':'form-control  mb-2'}})}}</td>
                                        <td>{{form_widget(formIdCardBack.Submit, {'attr':{'class':'btn btn-secondary'}})}}</td>
                                        {{form_widget(formIdCardBack.type, {'attr':{'class':'form-control mb-2 hidden-form'}})}}
                                    {{form_end(formIdCardBack, {render_rest: true})}}
                                </tr>
                            {% endif %}
                        
                            {% if user.proofOfAddress == null %}
                                <tr>
                                    <td class="text-align-left">Proof of address</td>
                                    {{ form_start(formProofOfAddress) }}
                                        <td>{{form_widget(formProofOfAddress.name, {'attr':{'class':'form-control  mb-2'}})}}</td>
                                        <td>{{form_widget(formProofOfAddress.Submit, {'attr':{'class':'btn btn-secondary'}})}}</td>
                                        {{form_widget(formProofOfAddress.type, {'attr':{'class':'form-control mb-2 hidden-form'}})}}
                                    {{form_end(formProofOfAddress, {render_rest: true})}}
                                </tr>
                            {% endif %}
                    </tbody>
                </table>
            
            </div>
        </div>
    </div>
</div>
{% endblock %}
