{% extends 'basePersonnel.html.twig' %}

{% block title %}Hire Advisor page{% endblock %}

{% block personnel %}
    <div class="row justify-content-center mt-8">
        <div class="col-6">
            <h2 class="text-align-center text-color-primary">Secretary list</h2>
            <div class="row justify-content-center">
                <div class="col-4">
                    <input type="text" id="inputSearchName" class="form-control" placeholder="search by name ...">
                </div>
                <div class="col-4 ml-2">
                    <input type="text" id="inputSearchUid" class="form-control" placeholder="search by uid ...">
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-hover">
                    <thead class="text-size-12">
                        <tr class="table-color-primary">
                            <th>Name</th>
                            <th>First Name</th>
                            <th>Uid</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone number</th>
                            <th>Register date</th>
                        </tr>
                    </thead>
                    <tbody class="text-size-12 text-bold">
                        {% for secretary in secretarys %}
                                <tr class="{{ cycle(['table-color-primary-7', 'table-color-primary-6'], loop.index0) }} researchElementLine">
                                    <td class="text-align-center researchElement1">{{secretary.name}}</td>
                                    <td class="text-align-center ">{{secretary.firstName}}</td>
                                    <td class="text-align-center researchElement2">{{secretary.uuid}}</td>
                                    <td class="text-align-center">{{secretary.email}}</td>
                                    <td class="text-align-center">{{secretary.postalAddress}}<br>{{secretary.postalCode}}<br>{{secretary.city}}<br>{{secretary.country}}</td>
                                    <td class="text-align-center">{{secretary.phoneNumber}}</td>
                                    <td class="text-align-center">{{secretary.registerDate | date('d-m-Y')}}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-3 ml-2">
            <h2 class="text-align-center text-color-primary">Hire request</h2>
            <div class="row justify-content-center">
                <div class="col-6">
                    <input type="text" id="inputSearchName" class="form-control" placeholder="search by name ...">
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-hover">
                    <thead class="text-size-12">
                        <tr class="table-color-primary th-primary">
                            <th>Request date</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody class="text-size-12 text-bold">
                        {% for hire in hires %}
                                <tr class="td-primary {{ cycle(['table-color-tertiary', 'table-color-tertiary'], loop.index0) }} researchElementLine">
                                    <td class="text-align-center">{{hire.date | date('d-m-Y')}}</td>
                                    <td class="text-align-center">{{hire.email}}</td>
                                    <td {% if hire.status.id == 1 %}class="text-align-center text-color-warning"{% elseif hire.status.id == 2 %}class="text-align-center text-color-success"{% elseif hire.status.id == 3 %}class="text-align-center text-color-danger"{% endif %}>{{hire.status.name}}</td>
                                    <td class="text-align-center"><a href="{{path('personnelHireSecretaryDelete', {'id':hire.id})}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#cfa200">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-3 12.59L17.59 17 14 13.41 10.41 17 9 15.59 12.59 12 9 8.41 10.41 7 14 10.59 17.59 7 19 8.41 15.41 12 19 15.59z"/>
                                        </svg></a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
