{% extends 'base.html.twig' %}

{% block css %}<link href="{{ asset('css/schedule.css')}}" rel="stylesheet">{% endblock %}

{% block title %}Advisor Schedule{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-6">

            <h2 class="text-align-center text-color-primary mt-2">Meeting Request Unbooked</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="text-size-12">
                        <tr class="table-color-primary th-quaternary">
                            <th>Topic</th>
                            <th>Desired date</th>
                            <th>Customer</th>
                            <th>Email</th>
                            <th>Phone number</th>
                            <th>Appointed advisor</th>
                        </tr>
                    </thead>
                    <tbody class="text-size-12 text-bold ">
                        <tr class="td-quaternary table-color-primary-7">
                            <td class="text-align-center">{{currentMeetingRequest.topic}}</td>
                            <td class="text-align-center" id="meetingDate" data-weekNum={{currentMeetingRequest.desiredDate|date("W")}} data-date={{currentMeetingRequest.desiredDate|date('d/m/Y')}}>{{currentMeetingRequest.desiredDate|date('d/m/Y')}}</td>
                            <td class="text-align-center">{{currentMeetingRequest.customer.name}} {{currentMeetingRequest.customer.firstName}}</td>
                            <td class="text-align-center">{{currentMeetingRequest.customer.email}}</td>
                            <td class="text-align-center">{{currentMeetingRequest.customer.phoneNumber}}</td>
                            <td class="text-align-center">{{currentMeetingRequest.customer.advisor.name}} {{currentMeetingRequest.customer.advisor.firstName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="datetime-local" id="meetingStartTime" value="{{currentMeetingRequest.desiredDate|date('Y-m-d')}}T08:00" required></input>
            <input type="time" id="meetingDuration" value="01:00" required></input>
        </div>
    </div>





    <div class="row justify-content-center">
        <div class="col-10">

            <h2 class="text-align-center text-color-primary mt-2">{{currentMeetingRequest.customer.advisor.name}} {{currentMeetingRequest.customer.advisor.firstName}} Schedule</h2>
            
        </div>
    </div>

    <div class="flex-row justify-content-center col-10">

            <svg id="leftArrowWeekNum" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"/>
            </svg>
            <h3 class="text-align-center text-color-primary mb-0" id="weekNum">Semaine :</h3>
            <svg id="rightArrowWeekNum" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/>
            </svg>

    </div>

    <div class="cd-schedule loading">

        <div class="timeline">
            <ul>
                <li><span>08:00</span></li>
                <li><span>08:30</span></li>
                <li><span>09:00</span></li>
                <li><span>09:30</span></li>
                <li><span>10:00</span></li>
                <li><span>10:30</span></li>
                <li><span>11:00</span></li>
                <li><span>11:30</span></li>
                <li><span>12:00</span></li>
                <li><span>12:30</span></li>
                <li><span>13:00</span></li>
                <li><span>13:30</span></li>
                <li><span>14:00</span></li>
                <li><span>14:30</span></li>
                <li><span>15:00</span></li>
                <li><span>15:30</span></li>
                <li><span>16:00</span></li>
                <li><span>16:30</span></li>
                <li><span>17:00</span></li>
            </ul>
        </div>

        <div class="events">
            <ul class="wrap">
                
                <li class="events-group">
                    <div class="top-info"><span>Monday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingMonday in advisorMeetingsMonday %}
                            <li class="single-event" data-start="{{advisorMeetingMonday.date|date("H")}}:{{advisorMeetingMonday.date|date("i")}}" data-end="{{advisorMeetingMonday.date|date("H") + advisorMeetingMonday.duration|date("H")}}:{{advisorMeetingMonday.date|date("i") + advisorMeetingMonday.duration|date("i")}}" data-weekNum={{advisorMeetingMonday.date|date("W")}} data-event="event-1">
                                <p class="event-name">{{advisorMeetingMonday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Tuesday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingTuesday in advisorMeetingsTuesday %}
                            <li class="single-event" data-start="{{advisorMeetingTuesday.date|date("H")}}:{{advisorMeetingTuesday.date|date("i")}}" data-end="{{advisorMeetingTuesday.date|date("H") + advisorMeetingTuesday.duration|date("H")}}:{{advisorMeetingTuesday.date|date("i") + advisorMeetingTuesday.duration|date("i")}}" data-weekNum={{advisorMeetingTuesday.date|date("W")}} data-event="event-2">
                                <p class="event-name">{{advisorMeetingTuesday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Wednesday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingWednesday in advisorMeetingsWednesday %}
                            <li class="single-event" data-start="{{advisorMeetingWednesday.date|date("H")}}:{{advisorMeetingWednesday.date|date("i")}}" data-end="{{advisorMeetingWednesday.date|date("H") + advisorMeetingWednesday.duration|date("H")}}:{{advisorMeetingWednesday.date|date("i") + advisorMeetingWednesday.duration|date("i")}}" data-weekNum={{advisorMeetingWednesday.date|date("W")}} data-event="event-1">
                                <p class="event-name">{{advisorMeetingWednesday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Thursday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingThursday in advisorMeetingsThursday %}
                            <li class="single-event" data-start="{{advisorMeetingThursday.date|date("H")}}:{{advisorMeetingThursday.date|date("i")}}" data-end="{{advisorMeetingThursday.date|date("H") + advisorMeetingThursday.duration|date("H")}}:{{advisorMeetingThursday.date|date("i") + advisorMeetingThursday.duration|date("i")}}" data-weekNum={{advisorMeetingThursday.date|date("W")}} data-event="event-1">
                                <p class="event-name">{{advisorMeetingThursday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Friday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingFriday in advisorMeetingsFriday %}
                            <li class="single-event" data-start="{{advisorMeetingFriday.date|date("H")}}:{{advisorMeetingFriday.date|date("i")}}" data-end="{{advisorMeetingFriday.date|date("H") + advisorMeetingFriday.duration|date("H")}}:{{advisorMeetingFriday.date|date("i") + advisorMeetingFriday.duration|date("i")}}" data-weekNum={{advisorMeetingFriday.date|date("W")}} data-event="event-1">
                                <p class="event-name">{{advisorMeetingFriday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Saturday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingSaturday in advisorMeetingsSaturday %}
                            <li class="single-event" data-start="{{advisorMeetingSaturday.date|date("H")}}:{{advisorMeetingSaturday.date|date("i")}}" data-end="{{advisorMeetingSaturday.date|date("H") + advisorMeetingSaturday.duration|date("H")}}:{{advisorMeetingSaturday.date|date("i") + advisorMeetingSaturday.duration|date("i")}}" data-weekNum={{advisorMeetingSaturday.date|date("W")}} data-event="event-1">
                                <p class="event-name">{{advisorMeetingSaturday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Sunday</span></div>
                    <ul>
                        <li class="single-event" id="previsualisationDesiredDate" data-start="07:30" data-end="17:30" data-event="previsualisationDesiredDate"></li>
                        <li class="single-event" id="previsualisationMeeting" data-start="08:00" data-end="08:30" data-event="previsualisationMeeting">
                            <p class="event-name">{{currentMeetingRequest.topic}}</p>
                        </li>
                        {% for advisorMeetingSunday in advisorMeetingsSunday %}
                            <li class="single-event" data-start="{{advisorMeetingSunday.date|date("H")}}:{{advisorMeetingSunday.date|date("i")}}" data-end="{{advisorMeetingSunday.date|date("H") + advisorMeetingSunday.duration|date("H")}}:{{advisorMeetingSunday.date|date("i") + advisorMeetingSunday.duration|date("i")}}" data-weekNum={{advisorMeetingSunday.date|date("W")}} data-event="event-1">
                                <p class="event-name">{{advisorMeetingSunday.topic}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>
        </div>

    </div>
{% endblock %}

{% block js %}<script type="text/javascript" src="{{ asset('js/scriptSchedule.js')}}"></script>{% endblock %}
